
.navbar {
    overflow: hidden;
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.main {
    margin-top: 80px;
}

.Home {
    background: rgba(88,158,219,1);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 10px;
}

.Home .Title-home {

    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-weight: bold;
}

.Home .Title-home h1 {

    font-size: 56px;
}

.Home .Title-home p {
    font-size: 32px;
}


.Home form {
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 20px;
}

.Home form .form-group textarea {

    color: #ffffff;
}

.About {

    background: rgba(88,158,219,1);
    color: white;
}

.About .Team {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.About .Team .Card {

    max-width: 230px;
    max-height: auto;
    background-color: aliceblue;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    
}

.About .Team .Card:hover {

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 


.About .Team .Card .Image img {

    width: 100%;
    height: auto;
}

.About .Team .Card .Details{

    padding: 5px 15px;
    margin-top: 5px;
}
