{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#Home">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#Features">Características</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#About">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Contact">Contactanos</a>
                </li>
        </ul>
        </div>
    </nav>

    <div class="main">

        <div class="Home jumbotron" id="Home">

            <div class="Title-home">
                <h1>COVID Centinela</h1>
                <p>Verifica si la noticia es verdadera</p>
            </div>
        
            <form action="/" method="POST">

                <div class="form-group">
                    <img src="/static/images/news.jpg" alt="News">
                    <label for="exampleTextarea">Ingresa el texto de la noticia</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 106px;"></textarea>
                </div>

                <div class="form-group">
                    <img src="/static/images/audio.jpg" alt="Audio">
                    <label for="exampleInputFile">Ingresa el audio</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                </div>

                <button type="submit" class="btn btn-success">Aceptar</button>
            </form>
        </div>   
        
        <div class="Features jumbotron" id="Features">
           
            <h1>Características</h1>

            <div class="content-features">
                <p>
                    México sufre dos epidemias paralelas, el Covid-19 y la desinformación. Somos el segundo país con la mayor cantidad de noticias falsas según el estudio Radiografía sobre la difusión de fake news en México. Mediante los servicios de IBM se desarrollará una plataforma para identificar noticias falsas en redes sociales y mensajes de texto de los usuarios.
                </p>
    
                <img src="/static/images/IBM.jpg" alt="IMB-logo">
            </div>   
        </div>

        <div class="About jumbotron" id="About">

            <h1> Nosotros </h1>

            <div class="Team container">

                <div class="Card">
                    <div class="Image">
                        <img src="/static/images/Juan.jpg" alt="Imagen de perfil">
                    </div>
                    <div class="Details">
                        <h3><b>Tellez Perez Juan Manuel</b></h3>
                        <p>Escuela Superior de Computo</p>
                        <p>Front End</p>
                    </div>
                </div>

                <div class="Card">
                    <div class="Image">
                        <img src="/static/images/charly.jpg" alt="Imagen de perfil">
                    </div>
                    <div class="Details">
                        <h3><b>Ochoa Ginera Carlos Armando</b></h3>
                        <p>Escuela Superior de Computo</p>
                        <p>Machine Learning</p>
                    </div>
                </div>

                <div class="Card">
                    <div class="Image">
                        <img src="/static/images/joaquin.png" alt="Imagen de perfil">
                    </div>
                    <div class="Details">
                        <h3><b>Domínguez Moran Joaquín</b></h3>
                        <p>Escuela Superior de Computo</p>
                        <p>Machine Learning</p>
                    </div>
                </div>

                <div class="Card">
                    <div class="Image">
                        <img src="/static/images/pedro.jpg" alt="Imagen de perfil">
                    </div>
                    <div class="Details">
                        <h3><b>Morelos Ordóñez Pedro Luis</b></h3>
                        <p>Escuela Superior de Computo</p>
                        <p>Front End</p>
                    </div>
                </div>

            </div>

        </div>  
    </div>
    <footer>
        <div class="Contact" id="Contact">
            <h3>Contactanos</h3>
            <a href="https://github.com/juanM20/Proyecto-CampTech"><b>Github</b></a>
            <a href="https://www.facebook.com/jmtp12/"><b>Facebook</b></a>
        </div>
        <div class="Copy-right">
            <p> Copyright COVID-Centinela ® 2020</p>
        </div>
    </footer>
{% endblock %}